In [1]:
#importing libraries
import pandas as pd
from time import time
from datetime import datetime
from sqlalchemy import create_engine
import argparse

In [2]:
#checking pandas version
pd.__version__

'2.1.4'

In [3]:
#reading the dataset in hundreds
df_zones= pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [4]:
#checking the dataset
df_zones

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [5]:
# Credentials to connect to PostgreSQL
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [6]:
#conneting to postgres
engine.connect()

In [7]:
df_zones.to_sql(name="zones", con=engine, if_exists ='replace')

100